*,*::after,*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    min-height: 100vh;
    font-family: "Segoe UI,Arial,sans-serif";
    max-width: 2000px;
    min-width: 500px;
  }
.main
{
    margin: auto;
    width: 82%;
    height: 2200px;
}
.Row1
{
    display: flex;
}
.Row1column1
{
    display: flex;
    flex: 1;
    background-color: black;
    height: 700px;
    font-family: "Segoe UI";
    flex-direction: column;
}
.title
{
    height: 210px;
    width: 100%;
    color: white;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content
{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar
{
    list-style: none;
    width: 100%;
    text-align: center;
    margin: 20px;
}
.navbar a
{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.DGry:hover
{
    background-color: #607d8b;
}
.Grn:hover
{
    background-color:rgb(50, 114, 111)
}
.Gry:hover
{
    background-color:gray;
}
.Brwn:hover
{
    background-color:rgb(129, 102, 102);
}
.navbar li
{
    padding: 15px;
    margin: 5px;
}
.Row1column2
{
    flex: 1;
    background-color:#607d8b!important;
    height: 700px;
    font-family: "Segoe UI";

}
.title2
{
    height: 410px;
    width: 100%;
    color: white;
    font-size: 35px;
    display: flex;
    margin-top: 85px;
    align-items: center;
    flex-direction: column;
}
.about-image
{
    background-image: url("https://www.w3schools.com/w3images/avatar3.png");
    background-size: cover;
    width: 45%;
    height: 300px;
    border-radius: 50%;
}
.content2
{
    color: white;
    font-size: 18px;
    width: 100%;
    padding: 30px;
}
.Row2
{
    display: flex;
}
.Row2column1
{
    flex: 1;
    background-color:rgb(245, 240, 240);
    height: 700px;
    font-family: "Segoe UI";
}
.work-title
{
    height: 130px;
    font-family: "Segoe UI";
    width: 100%;
    display: flex;
    margin-top: 75px;
    align-items: center;
    flex-direction: column;
}
.hdng
{
    font-size: 30px;
}
.undrlne
{
    font-size: 18px;
}
.pic-column
{
    display: flex;
    flex-direction: column;
    flex: 0.5;
}
.images
{
    display: flex;
    flex: 0.5;
}
.first-image
{
    height: 130px;
    background-image: url("https://www.w3schools.com/w3images/coffee.jpg");
    background-size: cover;

}
.second-image
{
    height: 130px;
    background-image: url("https://www.w3schools.com/w3images/workbench.jpg");
    background-size: cover;
}
.third-image
{
    height: 130px;
    background-image: url("https://www.w3schools.com/w3images/sound.jpg");
    background-size: cover;
}
.fourth-image
{
    height: 130px;    
    background-image: url("https://www.w3schools.com/w3images/workbench.jpg");
    background-size: cover;
}
.fifth-image
{
    height: 130px;
    background-image: url("https://www.w3schools.com/w3images/coffee.jpg");
    background-size: cover;
}
.sixth-image
{
    height: 130px;
    background-image: url("https://www.w3schools.com/w3images/workbench.jpg");
    background-size: cover;
}
.awsm
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 105px;
}
.Row2column2
{
    flex: 1;
    background-color:rgb(80, 80, 180);
    height: 700px;
    font-family: "Segoe UI";
}
.Row3
{
    display: flex;
}
.Row3column1
{
    flex: 1;
    background-color:rgb(109, 104, 104);
    height: 700px;
    font-family: "Segoe UI";
}
.Row3column2
{
    flex: 1;
    background-color:rgb(23, 146, 136);
    height: 700px;
    font-family: "Segoe UI";

}
.footer
{
    background-color: black;
    width: 100%;
    height: 100px;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
}