*,*::after,*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    min-height: 100vh;
    font-family: "Inconsolata", sans-serif;
    max-width: 2000px;
    min-width: 500px;
  }
  .main
  {
      position: relative;
  } 
  .slider
  {
      background-image: url("https://www.w3schools.com/w3images/profile_girl.jpg");
      height: 100vh;
      background-size: cover;
      width: 40%;
      background-position: center;
      position: fixed !important;
  }
  .jumbotrn
  {
      height: 6000px;
      width: 60%;
      position: absolute;
      top: 0;
      right: 0;
      max-width: 950px;
      
  }
  .icon
  {
     right: 0;
      position: fixed;
  }
  .icon i
  {
    font-size: 35px;
    color: rgb(83, 80, 80);
    padding: 20px;
    background-color: white;
  }
  .icon i:hover
  {
      background-color: rgb(214, 214, 214);
  }
  .hdng
  {
    text-align: center;
    margin-top: 90px;
    font-family: "Consolas";

  }
  .hdng b
  {
      font-size: 75px;
      padding: 10px;
      font-weight: lighter;
  }
  .hdng p
  {
      font-size: 18px;
      padding: 10px;
      font-weight: lighter;
  }
  .hdng button
  {
      border: none;
      height: 55px;
      padding: 20px;
      font-size: 15px;
      font-weight: lighter;
  }
  .my-portfolio
  {
      margin-top: 50px;
  }
  .my-portfolio p
  {
      padding-bottom: 20px;
      font-family: "Consolas";
      color: rgb(124, 122, 122);
      font-size: 30px;
      font-weight: lighter;
      margin: 20px;
      border-bottom: 1px solid rgb(240, 236, 236);
  }
  .portfolio-image
  {
      display: flex;
  }
  .column1
  {
      display: flex;
      flex-direction: column;
      flex: 0.5;
  }
  .imagea
  {
    height: 300px;
    margin: 10px 20px 5px 20px;
    background-image: url("https://www.w3schools.com/w3images/wedding.jpg");
    background-size: cover;
    background-position: center;
  }
  .imageb
  {
    height: 600px;
    margin: 10px 20px 5px 20px;
    background-image: url("https://www.w3schools.com/w3images/rocks.jpg");
    background-size: cover;
    background-position: center;
  }
  .imagec
  {
    height: 315px;
    margin: 10px 20px 5px 20px;
    background-image: url("https://www.w3schools.com/w3images/sailboat.jpg");
    background-size: cover;
    background-position: center;
  }
  .column2
  {
      display: flex;
      flex-direction: column;
      flex: 0.5;
  }
  .imaged
  {
    height: 400px;
    margin: 10px 20px 5px 0px;
    background-image: url("https://www.w3schools.com/w3images/underwater.jpg");
    background-size: cover;
    background-position: center;
  }
  .imagee
  {
    height: 300px;
    margin: 10px 20px 5px 0px;
    background-image: url("https://www.w3schools.com/w3images/chef.jpg");
    background-size: cover;
    background-position: center;
  }
  .imagef
  {
    height: 250px;
    margin: 10px 20px 5px 0px;
    background-image: url("https://www.w3schools.com/w3images/wedding.jpg");
    background-size: cover;
    background-position: center;
  }
  .imageg
  {
    height: 250px;
    margin: 10px 20px 5px 0px;
    background-image: url("https://www.w3schools.com/w3images/p6.jpg");
    background-size: cover;
    background-position: center;
  }
  .about-text p
  {
      font-size: 15px;
      margin: 20px;
      color: rgb(124, 122, 122);
      font-weight: lighter;
      font-family: "Consolas";
  }
  .skills
  {
    padding-bottom: 20px;
    font-family: "Consolas";
    color: rgb(124, 122, 122);
    font-size: 25px;
    font-weight: lighter;
    margin: 60px 20px 40px 20px;
  }
  .label
  {
      font-size: 15px;
      margin: 20px 0px 10px 0px;
      letter-spacing: 3px;

  }
  .lightgry
  {
      width: 100%;
      background-color: lightgrey;
      height: 25px;
      font-size: 20px;
  }
  .drkgry
  {
    width: 95%;
    background-color: rgb(92, 89, 89);
    height: 25px;
    font-size: 20px;
    color: white;
    text-align: center; 
  }
  .drkgry85
  {
    width: 85%;
    background-color: rgb(92, 89, 89);
    height: 25px;
    font-size: 20px;
    color: white;
    text-align: center; 
  }
  .drkgry80
  {
    width: 80%;
    background-color: rgb(92, 89, 89);
    height: 25px;
    font-size: 20px;
    color: white;
    text-align: center; 
  }
  .partner
  {
      height: 100px;
      background-color: rgb(92, 89, 89);
      margin: 20px;
      display: flex;
      color: white;
      font-size: 25px;
      justify-content: space-evenly;
      text-align: center;
      font-weight: lighter;
  }
  .partner p{
    margin:auto;
  }
  .submt
  {
      border: none;
      height: 55px;
      padding: 20px;
      font-size: 15px;
      font-weight: lighter;
      margin: 20px;
  }
  .reputation
  {
      display: flex;
      flex-direction: column;
  }
  .flx
  {
      display: flex;
  }
  .content
  {
    margin: 60px 20px 0px 0px;
    font-size: 15px;
  }
  .content1
  {
    margin: 30px 20px 0px 0px;
    font-size: 15px;
  }
  .content2
  {
    margin: 30px 20px 0px 0px;
    font-size: 15px;
  }
  .imageh
  {
    height: 100px;
    width: 80px;
    margin: 40px 20px 5px 0px;
    border-radius: 50%;
    background-image: url("https://www.w3schools.com/w3images/p6.jpg");
    background-size: cover;
    background-position: center;
  }
  .imagei
  {
    height: 100px;
    width: 80px;
    margin: 10px 20px 5px 0px;
    border-radius: 50%;
    background-image: url("https://www.w3schools.com/w3images/p6.jpg");
    background-size: cover;
    background-position: center;
  }
  .imagej
  {
    height: 100px;
    width: 80px;
    margin: 10px 20px 5px 0px;
    border-radius: 50%;
    background-image: url("https://www.w3schools.com/w3images/p6.jpg");
    background-size: cover;
    background-position: center;
  }